.Stopwatch-timer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.Stopwatch-timer h4 {
  font-size: 120%;
}

.Stopwatch-controls button {
  width: 45%;
}

.Stopwatch-controls {
  display: flex;
  justify-content: space-around;
}

.Stopwatch-submit button {
  margin-top: 0.5rem;
  width: 95%;
}

.Stopwatch-submit {
  display: flex;
  justify-content: space-around;
  transition: all 2s linear;
  animation: 0.5s ease-out 0s 1 slideIn;
}

@keyframes slideIn {
  0% {
    transform: translateY(-20%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
